html,body{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 500px;
    /* overflow: ; */
    border:1px solid black;
    overflow: scroll;
    position: relative;
    flex-direction: column;
    gap: 40px;
}
.main_body{

}
.content_area{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 40px;
}
.content_item{
    width: 90%;
}
h1{text-align: center;}
.music_btn{
    position: fixed;
    top: 20px;
    right: 30px;
    width: 50px;
    height: 24px;
    border: 1px solid #1216c7;
    color: #1216c7;
    font-weight: bold;
    background: transparent;
}